<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--
      - пишем структурированные JSON-логи в stdout
      - дальше их уже может забирать Filebeat/Fluent Bit и слать в Elasticsearch
    -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- можно добавить свои поля -->
            <customFields>{"app":"demo-spring","env":"local"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>